@font-face {
	font-family: "MyriadProSemiBoldCondensed";
	src: url("fonts/Myriad-Pro-Semibold-Condensed_31644.eot");
	src: url("fonts/Myriad-Pro-Semibold-Condensed_31644.ttf") format("truetype");
}

@font-face {
	font-family: "MyriadProBold";
	src: url("fonts/myriadpro-bold.eot");
	src: url("fonts/myriadpro-bold.ttf") format("truetype");
}

@font-face {
	font-family: "MyriadProLight";
	src: url("fonts/myriadpro-light.eot");
	src: url("fonts/myriadpro-light.ttf") format("truetype");
}

@font-face {
	font-family: "MyriadProRegular";
	src: url("fonts/myriadpro-regular.eot");
	src: url("fonts/myriadpro-regular.ttf") format("truetype");
}

@font-face {
	font-family: "MyriadProSemiBold";
	src: url("fonts/myriadpro-semibold.eot");
	src: url("fonts/myriadpro-semibold.ttf") format("truetype");
}

:root {
	--bg-color: black;
	--h1: #6ABCE2;
	--white: #FCFCFC;
	--grey-d: #505051;
	--grey: #B7B5B7;
	--card-title: brown;
	--darkgrey: #505051;
}

.btn-primary {
	background-color: brown;
	font-family: "MyriadProRegular";
	font-size: 13px;
}

p {
	font-family: "MyriadProSemiBold";
}

* {
	box-sizing: border-box;
	font-family: "MyriadProRegular", "Arial", "sans-serif";
}

header,
section {
	overflow-x: hidden;
}

/*Navigation Starts*/
#nav1 {
	font-family: "MyriadProRegular";
	position: relative;
}

#logo {
	position: relative;
	z-index: 2;
}

.contact-button {
	border: none;
	border-radius: 3px;
	background-color: brown;
	color: var(--white);
	font-size: 12px;
	padding: 3px 10px;
	margin-right: 0;
}

.red-button {
	border: none;
	border-radius: 3px;
	background-color: brown;
	color: white;
	font-size: 14px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#arrow-red {
	width: 14px;
	height: 20px;
	background-image: url('images/arrow-sprite.png');
	background-position: -27px -2px;
	background-color: brown;
	border: 0px;

}

#arrow-white {
	width: 14px;
	height: 20px;
	background-image: url('images/arrow-sprite.png');
	background-position: -27px -2px;
	background-color: transparent;
	border: 0px;

}

#nav2 {
	background-color: #DDD;
	position: absolute;
	top: 15%;
}


#bottom-background {
	margin-top: 35px;
	height: 5px;
	background-color: #DDD;

}

.active {
	font-weight: bold;
}

.navbar a {
	color: #555;
	font-size: 16px;
	opacity: 0.9;

}


.navbar a:hover {
	font-weight: bold;
}




/*Navigation Ends*/
/*Section Head Starts*/


.black-banner {
	text-align: center;
	width: 220px;
	padding: 3px;
	font-size: 25px;
	margin: 0px;
	color: white;
	background-image: url('images/banner_left_shape.png'), url('images/banner_right_shape.png');
	background-position: left, right;
	background-size: 20px 100%, 200px 100%;
	background-repeat: no-repeat, no-repeat;


}

#block1 {
	margin-top: 60px;
	margin-left: 120px;
}

#block2 {
	margin-left: 240px;
}

#block3 {
	margin-left: 360px;

}


.white-banner {
	text-align: center;
	padding: 3px;
	font-size: 20px;
	font-family: CustomFont3;
	margin: 0px;
	color: #CA2828;
	background-image: url('images/banner_left_shape_white.png'), url('images/banner_right_shape_white.png');
	background-position: left, right;
	background-repeat: no-repeat, no-repeat;
}

#block4 {
	margin-top: 60px;
	width: 320px;
	background-size: 20px 100%, 300px 100%;
	margin-left: 240px;

}

#block5 {
	width: 240px;
	background-size: 20px 100%, 220px 100%;
	margin-left: 360px;
}

.banner-text {
	position: absolute;
	top: 20%;
}

/* Section Head Ends */
/* Section Number */
.numbers {
	background-color: whitesmoke;
}

.num1 {
	font-family: "MyriadProBold";
	font-size: 42px;
	color: var(--darkgrey);
	padding: 0;
	margin-bottom: 0;
}

.num2 {
	font-family: "MyriadProSemiBold";
	font-size: 24px;
	color: brown;
	padding: 0;
	margin-top: 0;
}

.numbers b {
	font-family: "MyriadProLight";
}

/* Section Number Ends*/
/* Section Cards Starts*/
.card {
	border-radius: 0px;
	position: relative;
}

.card-img-overlay {
	position: absolute;
	z-index: 0;
	top: 58%;
	left: 66%;
	padding: 0%;
	margin: 0%;

}

.card-img-overlay img {
	transform: scale(0.8, 0.8);
}

.card-body {
	padding-bottom: 0px;
	z-index: 2;
}

.card-title {
	color: var(--card-title);
	text-align: center;
	font-family: "MyriadProSemiBold";
	margin-bottom: 0;
}

.card-text {
	font-family: "MyriadProSemiBold";
	font-size: 14px;
	padding-top: 4px;
	margin-bottom: 0;
	line-height: 1.2;
}

.p2 {
	padding: 0%;
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: 12px;
}

.p1 {
	padding: 0%;
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: 11px;
}

.p1 i {
	font-family: "MyriadProBold";
}

/* Section Cards Ends*/
/* Section Donate Banner Starts */


#left-banner {
	background-image: url('images/donate_divider.png');
	background-position: right;
	background-repeat: no-repeat;
	background-color: #484747;
	line-height: 0.8;
}

#g1 {
	color: white;
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 36px;
}

#g2 {
	color: white;
	font-weight: bold;
	opacity: 0.9;
	font-size: 30px;
}

#middle-p {
	margin-top: 20px;
	font-size: 20px;
}


#donate-button {
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 30px;
	border: none;
	background-color: white;
	background-image: url('images/donate_btn_bg.png');
	background-size: contain;
	width: 150px;
	height: 46px;
}

/* Section Donate Banner Ends */
/* Section Upcoming Events Starts*/
.events {
	background-image: url("images/event_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: auto;
}

.events h3 {
	font-family: "MyriadProSemiBold";
	opacity: 0.8;
}

#linklist p {
	font-size: 15px;
	opacity: 0.9;
	font-weight: bolder;
}

#linklist span {
	font-size: 14px;
	opacity: 0.8;
	font-weight: 700;
}

#questions-form-container {
	background-color: var(--grey-d);
	color: var(--white);
	line-height: 1.2;
}

#questions-form-container #p1 {
	padding-bottom: 0px 0px;
	margin: 0px 0px;
	font-size: 25px;
}

#questions-form-container #p2 {

	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

#questions-form-container #p3 {
	padding: 0px;
	margin: 4px;
	font-size: 20px;
}

.questionForm {
	padding: 0%;
}

::-webkit-input-placeholder {
	font-size: 12px;
	font-weight: 600;
	color: gray;
	padding-left: 8px;
}

#sub-button {
	border: none;
	border-radius: 3px;
	background-color: gray;
	color: white;
	font-size: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.form-row {
	margin: 0%;
}




/* Section Upcoming Events Ends*/

/*Footer Starts*/
footer {
	background-image: url("images/contact_us_bg.png");
}

.contact-me #h1 {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 60px;
	font-family: "MyriadProBold";
	line-height: 0.6;
}

.contact-me #p1 {
	margin: 0px;
	padding: 0px;
	color: white;
	font-size: 34px;
}

.contact-me #p2 {
	margin: 0px;
	padding: 0px;
	color: lightgray;
	font-size: 18px;
	font-family: "MyriadProRegular";
}

.contact-form .form-inline {
	margin-bottom: 10px;

}

.contact-form input {
	margin-right: 10px;
	width: 195px;
	height: 25px;
	font-size: 12px;
}

#contact_us_img {
	border: 4px solid whitesmoke;
	height: 270px;
}

.copyright {
	font-size: 12px;
}

/*Footer Ends*/


.t1,
.t2,
.t3,
.t4,
.t5 {
	color: white;
}