*{
	box-sizing: border-box;
}
header, section{
	overflow-x: hidden; 
}
header a{
	font-size: 0.9em;
	color: whitesmoke;
	margin-right: 4rem;
}
header .navbar-brand{
	padding-left: 2rem;
}
body{
	width: 100vw;
	height: 100vh;
	margin: auto;
	background-color: black;
	background-size: cover;
}
.cover{
	z-index: 10;
	position: relative;
}

.r1{
	align-self: center;
	z-index: 20;
	position: absolute;
	margin-top: -500px;
}

#s1,#s3{
	color: whitesmoke;
}
h1{
	color: skyblue;
}
#s2{
	font-size: 24px;
}
#nu{
	transform: scale(1.5,1.5);
	line-height: 1.0;

}
p{
	word-break: break-all;
	color: white;
}

.btn-dark{
	background:transparent;
	border: 1px solid white;
	border-radius: 0px;
}
.section1{
	background-color: white;
    
}
#play-icon{
	position: absolute;
	z-index: 20;
}
#frame-row{
	position: absolute;
	z-index: 10;
}

#frame{
	border: 3px solid grey;
	margin-top: 65px;
	margin-left: -5px;
	width: 90vw;
	height: 66vh;
}
.section3{
	background-color: white;
}
.img{
	border-radius: 50px;
}
.form-control{
	 background: transparent;
	 border-radius: 0px;
	 border: 0px;
	 border-bottom: 1px solid grey;
	 margin-bottom: 8px;
	 font-size: 16px;
	 padding: 0px;
}
.btn-primary{
	background: white;
	color: grey;
	margin-top: 20px
}

.readmore{
	text-align: center;
}
.readmore a{
	color: whitesmoke;
}
