
*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;
}
body{
	background-image: url(../img/bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
header{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
}
.logo img{
	flex: 30%;
	width: 150px;
	height: auto;
	margin-top: 25px;
}
.nav {
	display: flex;
	flex-direction: row;
	height: 35px;
	margin-top: 50px;
}
.nav a{
	margin-left: 7px;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	border-radius: 12px;
	transition: 0.6s ease;
}
.nav a:hover{
	background-color: #69A7E5;
}
.nav a.active{
	background-color: #69A7E5;
}

main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title p{
	display: inline-block;
	color: white;
	font-size: 100px;
}
#blue{
	color: #69A7E5;
}
.button{
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
}

.button a{
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid white;
	border-radius: 15px;
	transition: 0.6s ease;
	margin-right: 10px;
}
.button a:hover{
	color: #69A7E5;
}


footer{
	display: flex;
	justify-content: center;
	margin-top: 70vh;
	color: #69A7E5;
}
footer h6{
}


@media screen and (max-width: 700px){
	header, main, .nav, .title, .button{
		flex-direction: column;
		align-items: center;
	}
}
